html, body {
  background-color: #0099ff;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Console', sans-serif;
  font-weight: 50;
} 

.header { 
  background-size: cover;
  height: 800px;
  text-align: center; 
}

 h1 {
  color: #fff;
  line-height: 110px; 
  font-size: 75px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  }
   
 .main img {
  float: right;
  margin: 50px 80px 50px 0;
}
 
h2 {
    font-family: 'Space Mono';
    font-size: 60px;
   }
   
.about me p {
    font-family: 'Times New Roman';
    font-size: 50px; 
   }
   
.education h3 {
     font-family: 'Space Mono';
     font-size: 60px; 
     display: left;
   } 
   
.education li {
     font-family: 'Times New Roman'; 
     font-size: 50px;
     display: left;
   }
   
h4 {
     font-family: 'Space Mono';
     font-size: 60px; 
     display: left;
   } 
   
.accomplishments li {
     font-family: 'Times New Roman'; 
     font-size: 50px;
     display: left;
   }
   
  h5 {
       font-family: 'Lucida Console'; 
       font-size: 50px;
       display: left:
}
        
.background {
   
