/* html/body */
body {
  font-family: 'Times New Roman', sans-serif;
  font-weight: 500;
} 

.header { 
  height: 800px;
  text-align: center; 
}

/* my name */
 h1 { 
   font-family: 'Times New Roman'; 
   line-height: 110px; 
   font-size: 75px;
   margin-top: 0;
   margin-bottom: 80px;
   text-transform: uppercase;
}
   
/* image of me*/
.main-img { 
  float: right;
  margin: 50px 80px 50px 0;
}
 
/* about me section*/
h2 {
  font-family: 'Times New Roman';
  font-size: 60px;
}
   
.about-me {
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 35px; 
  margin: 20px 0;
}
   
/* education section*/
h3 {
  font-family: 'Times New Roman';
  font-size: 60px; 
  display: inline;
} 
   
.education li {
  font-family: 'Times New Roman'; 
  font-size: 40px;
  display: block;
} 

/* work samples */ 
h4 { 
  font-family: 'Times New Roman'; 
  font-size: 50px;
  display: inline;
}

.work-samples li {
    font-family: 'Times New Roman'; 
    font-size: 50px;
    display: block; 
}

.worksamples {
  font-family: 'Times New Roman';
  font-size: 50px; 
} 

.report { 
  font-family: 'Times New Roman';
  font-size: 50px; 
}
   
/* accomplishments section */
h5 {
  font-family: 'Times New Roman';
  font-size: 60px; 
  display: inline;
   } 
   
.accomplishments li {
  font-family: 'Times New Roman'; 
  font-size: 40px;
  display: block;
   }
  
/* profiles */
h6 {
  font-family: 'Times New Roman'; 
  font-size: 50px;
  display: inline-block;
}
        
.profiles {
  font-family: 'Times New Roman'; 
  font-size: 50px; 
  display: inline-block;
} 

/* canvas */
canvas{
   position:absolute;
   left:0;
   top:0;
   z-index:-1;
}

/* audio */
.audio{
  position: center;
} 

/* accessibility */
h7 {
  font-family: 'Times New Roman';
  font-size: 60px; 
  display: inline;
}

.accessibility {
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 35px; 
  margin: 20px 0;
}
