html, body {
  background-color: #0099ff;
  margin: 16px 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 500;
} 

.header { 
  background-size: cover;
  height: 800px;
  text-align: center; 
}

/* my name */
 h1 { 
  font-family: 'Arial'; 
  color: #fff;
  line-height: 110px; 
  font-size: 75px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  }
   
/* image of me*/
 .main img { 
  float: right;
  margin: 50px 80px 50px 0;
  rotation: 90deg;
}
 
/* about me section*/
h2 {
    font-family: 'Arial';
    font-size: 60px;
   }
   
.about-me p {
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 40px; 
    margin: 20px 0;
  }
   
/* education section*/
h3 {
     font-family: 'Arial';
     font-size: 60px; 
     display: inline;
   } 
   
.education li {
     font-family: 'Times New Roman'; 
     font-size: 40px;
     display: block;
   }
   
/* accomplishments section */
h4 {
     font-family: 'Arial';
     font-size: 60px; 
     display: inline;
   } 
   
.accomplishments li {
     font-family: 'Times New Roman'; 
     font-size: 40px;
     display: block;
   }
  
/* profiles */
 h5 {
      font-family: 'Arial'; 
      font-size: 50px;
      display: inline-block;
}
        
.profiles {
   font-family: 'Times New Roman'; 
   font-size: 50px; 
   display: inline-block;
} 

/* work samples */ 
h6 { 
  font-family: 'Arial'; 
      font-size: 47px;
      display: inline-block;
}
.work-samples li {
    font-family: 'Times New Roman'; 
    font-size: 40px;
    display: block; 
}

.worksheet-img { 
   width: 50px;
   length: 75px;
} 

.worksamples {
  font-family: 'Times New Roman';
  font-size: 50px; 
}
  
